@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-top-1669789314 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1669789314 svg {
	position: relative;
	display: block;
	width: calc(150% + 1.3px);
	height: 130px;
	transform: rotateY(180deg);
}

.custom-shape-divider-top-1669789314 .shape-fill {
	fill: #8f35ea;
}
